.Contenedorbtn{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.Añadir{
    color: green;
    font-weight: bold;
    margin: 6px 3px;
    font-size: 20px;
}
/* containerAdmin{

} */
.itemsimg{
    width: 80px;
    height: 100px;
}
.table td {
    /* margin: 0; */
    font-size:20px;
}
.itemsTable .itemsprecio{
    font-size: 17px;
    color: #086F04;
    /* background-color: turquoise; */
    /* width:50px; */
}


.table thead th{
    color:#086F04 ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}

.Añadir .btnAñadir{
    box-shadow: skyblue;
    text-shadow: seashell;
    background-color: #F6BC40;
}
.CerrarSesion{
    display: flex;
    justify-content: flex-end;
    color: green;
    /* font-weight: bold; */
    margin: 6px 3px;
    font-size: 20px;
}
.itemscat .btndelete{
    color:white;
    background-color: #CD3536;
}
.itemscat .btnedit{
    color:whitesmoke;
    background-color: #46474A;
}
.btncarousel{
    width: auto;
    height: auto;
}
@media only screen and 
(min-device-width : 768px) 
and (max-device-width : 1024px)  
  {
    .itemsTable .itemsprecio{
        /* background-color: green; */
        font-size: 15px;
        color: #086F04;
        width: 100px;
          
    }
      .TableContainer .table{
          width: auto;
          /* background-color: red; */
      }
      .itemsprecio .singmoney {
        width: 20px;
    }
      .btncarousel{
        width: 90%;
        height: 90%;
    }
  }
  @media only screen and 
(max-device-width : 767px) { 
    .itemsTable .itemsprecio {
        /* background-color: green; */
        font-size: 15px;
        color: #086F04;
            width: 100px;
    }
    .itemsprecio .singmoney {
        width: 20px;
    }
    .TableContainer .table{
        width: 850px;
        /* background-color: red; */
    }
   
}