.row {
  margin: 0 !important;
}
.id_Objeto{
  text-align: center;
  color: red;
  font-style: italic;
  font-size: larger;
}
.Leyenda{
  margin: 140px 55px;
   display: flex;
  flex-direction: column; 
  align-items: center;
  font-size: 30px;
}
.card-title {
  /* font-family: bookman old -apple-system; */
  font-size: 30px;
  color: red;
}
.card-title .Icon{
  color:#169112;
 margin: 0px;
}
.card-text {
  font-size: 16px;
}
.card {
  /* background-color: red; */
  margin: 1rem;
  border-radius: 10px;
  width: 240px;
  /* width: auto; */
  /* height: 420px; */
  /* height: auto; */
  -webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
}
.scroll {
  height: 116px;
  max-height: 116px;
  overflow-y: auto;
}
.card img {
  border-radius: 10px;
}

.card-footer {
  font-size: 13px;
  border-radius: 15px;
  display: flex;
}

.card-footer button {
  height: 30px;
  width: 70px;
  color: #9e8145;
  background-color: #f6bc40;
  border-radius: 30px;
  border: none;
}

.card-bodys {
  padding: 2px;
}
.card-footer {
  flex-direction: row;
  align-items: center;
  /* padding: 0px 3px; */
}
.card-footer span {
  
  flex: 1;
}

.card-img-top {
  height: 250px;
}
/* --------------------- CELULAR ------------------------  */
@media only screen and (max-width: 768px) {
  .id_Objeto{
    text-align: center;
    color: red;
    font-style: italic;
    font-size: larger;
  }
  .card-img-top{
    width: 100%;
    /* height: 50vw; */
    height: 250px;
    /* object-fit: cover; */
  }
  .card {
    width: 260px;
    margin: 0;
    height: auto;
    margin-top: 40px;
    margin-left: calc(50% - 140px);
    margin-bottom: 10px;
  }
  .card-bodys {
    padding: 1px;
  }
  .card-footer {
    flex-direction: row;
    align-items: center;
    padding: 0px 3px;
  }
  .card-footer span {
    flex: 1;
  }
}
/*  -------------------IPOD--------------------   */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .card-img-top{
  width: 100%;
  /* height: 17vw; */
  height: 250px;
  /* object-fit: cover; */
}
  .item {
    align-items: center;
    align-content: center;
    margin: 5px;
  }
  .card {
    width: 240px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .Leyenda{
    margin: 110px 55px;
     display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 30px;
  }
  .card-bodys {
    padding: 1px;
  }
  .card-footer {
    flex-direction: row;
    align-items: center;
    padding: 0px 3px;
  }
  .card-footer span {
    flex: 1;
  }
}

/* -----------------CORRECCIONES------------ */
.listItems {
  width: 100%;
}
.listItems .item {
  width: 100%;
  margin: 0px;
}
.listItems .item .card {
  margin: 8px 0px;
  margin-left: calc(50% - 140px);
}
.card .card-footer {
  padding: 10px 3px 5px 3px;
  box-sizing: border-box;
}
.card-footer .action {
  padding: 10px 15px;
  color: #9e8145;
  background-color: #f6bc40;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.card-footer .action:hover {
  background-color: #e8bb5b;
  color: white;
}

@media only screen and (min-width: 767px) and (max-width: 1199px) {
  .card-img-top{
    width: 100%;
    /* height: 20vw; */
    height: 250px;
    /* object-fit: cover; */
  }
  .listItems {
    width: 640px;
    max-width: 640px;
    /* background-color: green; */
    margin-left: calc(50% - 320px);
  }
  .listItems .item {
    width: 50%;
    /* background-color: blue; */
    margin: 0px;
    position: relative;
    float: left;
  }
  .listItems .item .card {
    margin: 15px 25px;
  }
  .Leyenda{
    margin: 215px 55px;
     display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 30px;
  }
  .card img {
    border-radius: 10px;
  }
  .card{
    /* background-color: red; */
    width: auto;
  }
  .btncarousel{
    width: auto;
  }
}
@media only screen and (min-width: 1200px) {
  
  .listItems {
    width: 100%;
  }
  .listItems .item {
    width: 25%;
    margin: 0px;
    position: relative;
    float: left;
  }
}
@media only screen and (min-width: 1360px) {
  .card-img-top{
    width: 100%;
    /* height: 13vw; */
    height: 250px;
    /* object-fit: cover; */
  }
  .listItems {
    /* width: 1350px; */ 
    max-width: 1360px;
    margin-left: calc(50% - 670px);
  }
  .listItems .item {
    /* width: 25%; */
    /* background-color: blue; */
    margin: 0px;
    position: relative;
    float: left;
  }
  
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
