/*COMPUTADORA*/
.footer {
  /* background-color: green; */
  /* min-height: 300px; */
  /* font-family: "Open Sans", sans-serif; */
}
.telefono {
  margin-left: 10px;
}
.logoscontenido_second_item .logo_carta{
  height: 40px;
  width: 80px;
}
.logoscontenido_second_item .logo_telefono{
  /* height: 40px;
  width: 80px; */
  width: 25px;
  height: auto;
}
.logoscontenido_third .logofacebook{
  /* width: 100px;
  height: 80px; */
  width: 75px;
  height: auto;
}
.logoscontenido_third .logoinstagram{
  /* width: 100px;
  height: 80px; */
  width: 75px;
  height: auto;
}
.logoinstagram{
  color:white
}
.logofacebook{
  color:white
}
.logoscontenido {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  position: relative;
  /* height: 60%; */
  height: 90px;
}
.logoscontenido_first {
  /* background-color: #169112; */
  background-color: #086f05;
  position: relative;
}
.logoscontenido_first.logo {
  width: 100%;
  position: relative;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  /* width: 70%; */
  height: auto;
}
.logoscontenido_second {
  background-color: #169112;
  width: 100%;
  position: relative;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoscontenido_second_item {
  display: flex;
  flex-direction: row;
  /* margin-top: 10px; */
  color: white;
}
.logoscontenido_second_item img {
  margin-right: 5px;
}
.logoscontenido_third {
  background-color: #086f05;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logoscontenido_third .network {
  flex: 1;
  text-align: center;
  
}

.network a :hover {
  background-color: rgb(204, 132, 23);
  border-radius: 10px;
}
.logoscontenido_third img {
  width: 50px;
  height: auto;
}
.footer .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background-color: #46474a;
  color: white;
}
.about {
  color: white;
}
.about a {
  color: white;
}

/*---------------------------- grid para ipad y ipop pro --------------------*/
@media only screen and (min-width: 767px) and (max-width: 1199px) {
 
  .logoscontenido {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
  }
  .logoscontenido_first {
    grid-row: 1/3;
    grid-column: 1/2;
  }
  .logo img {
    width: 60%;
    height: auto;
  }
  .logoscontenido_second {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .logoscontenido_third {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #169112;
  }
}

/* @media only screen and (min-width: 767px) and (max-width: 992px) {
}
@media only screen and (min-width: 993px) and (max-width: 1199px) {
} */

@media only screen and (min-width: 1200px) {
  .logoscontenido {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
  }
  .logoscontenido_first {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: #169112;
  }
  .logoscontenido_second {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .logoscontenido_third {
    grid-row: 1/2;
    grid-column: 3/5;
  }
  .footer .about {
    flex-direction: row;
    justify-content: center;
  }
  .about a {
    margin: 3px 10px;
  }
}
@media only screen and 
(max-width: 767px) {
  .logoscontenido {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33.33% 33.33% 33.33%;

    height: 60%;
  }
  .logo img {
    /* width: 50%; */
    width: 20%;
    height: auto;
  }

}