.glass{
  display: flex;
  align-items: center;
  justify-content: center;
}
 @media only screen
and (min-width : 1224px) {
  .header button{
    margin-left: 5px;
    width: 90px;
    color: #020f13;
    background-color: #c4c2bd;
    border: none;
  }
.header{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;
  background-size: cover;
  background-repeat:no-repeat;
  background-image: url(./img/hero.PNG);
}
.parte1{
  grid-row: 1/4;
    grid-column: 1/2; 
}
.parte2{
  grid-row: 2/3;
  grid-column: 2/3;
}
.parte3{
  grid-row: 3/3;
    grid-column: 2/3;
}
.Titulo{
  display: flex;
  font-size: 2rem;
  color: aliceblue;
  text-align: center;
}
.Titulo span{
 display: block;
 margin: auto; 
}
.buscador{
  justify-content: center;
  display: flex;
}
 .Logo img{
   margin: 6px 6px;
width: 70%;
height: 70%;
} 
.buscador form{
  display: flex;
 width: 80%;
 height: 80%;
}
.select{
  font-size: 302px;
  font-weight: 800;
  color: #444;
  line-height: 1.3;
  padding: .4em 1.4em .3em .8em;
  width: max-content;
  max-width: 100%; 
  box-sizing: border-box;
/* margin: 20px auto; */
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
  border-radius: .3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: 5.65em auto, 100%; 
}
} 
/* Tablets (resolución ipad):  */
 @media only screen and 
(min-device-width : 768px) 
and (max-device-width : 1024px)  
  {
    .header{
      /* border-radius: 15px; */
      height:380px ;
      width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
      background-size: 100% 100%;
      background-repeat:no-repeat;
      background-image: url(./img/hero-tablet.PNG);
    }
    .parte1{
      grid-row: 1/2;
        grid-column: 2/3;  
    }
    .parte2{
      grid-row: 2/3;
      grid-column: 2/3;
    }
    .parte3{
      
      grid-row: 3/3;
        grid-column: 2/3;
    }
    .Logo{
      display: flex;
      font-size: 30px;
      color: aliceblue;
      text-align: center;
      align-items: center;
      align-content: center;
    }
    .Titulo{
      display: flex;
      font-size: 30px;
      color: aliceblue;
      text-align: center;
    }
    .buscador{
      font-size: 30px;
      color: aliceblue;
      text-align: center;
      display: flex;
    }
    .Logo img{
      /* display: block; */
      margin: 6px 6px; 
      width: 100%;
      height: 100%;
    }
    .Titulo span{
      display: block;
      margin: auto; 
     }
     .buscador form{
      display: flex;
      flex-direction: row;
      margin: auto;
    }
    .select{
      display: block;
      font-size: 16px;
      /* font-family: 'Verdana', sans-serif; */
      font-weight: 800;
      color: #444;
      line-height: 1.3;
      padding: .4em 1.4em .3em .8em;
      width: 400px;
      max-width: 100%; 
      box-sizing: border-box;
   margin: 20px auto;
      border: 1px solid #aaa;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
      border-radius: .3em;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%); */
      background-repeat: no-repeat, repeat;
      background-position: right .7em top 50%, 0 0;
      background-size: .65em auto, 100%;
    }
 }
/* Tablets (resolución ipad pro) : */
@media only screen and 
(min-width: 1024px) and 
(max-width: 1200px) { 
  .header button{
    height: 45px;
    margin-top: 18px;
    width: 45px;
    margin-left: 3px;
    color: #020f13;
    background-color: #c4c2bd;
    /* border-radius: 15px; */
    border: none;
  }
  .header{
    border-radius: 15px;
    height:300px;
    width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto auto auto;
  /* background-size: auto; */
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-image: url(./img/hero-tablet.PNG);
  }
  .parte1{
    grid-row: 1/2;
      grid-column: 2/3;  
  }
  .parte2{
    grid-row: 2/3;
    grid-column: 2/3;
  }
  /* .parte3{
    
    grid-row: 3/3;
      grid-column: 2/3;
  } */
  .Logo{
    display: flex;
    font-size: 30px;
    color: aliceblue;
    
    text-align: center;
    align-items: center;
    align-content: center;
  }
  .Titulo{
    display: flex;
    font-size: 30px;
    color: aliceblue;
    
    text-align: center;
  }
  .buscador{
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    display: flex;
  }
  .Logo img{
    display: block;
    margin: auto; 
    /* width: 100%; */
    width: 50%;
    height: auto;
  }
  .Titulo span{
    display: block;
    margin: auto; 
   }
   .buscador form{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: row;
  }
  .select{
    display: block;
    font-size: 16px;
    /* font-family: 'Verdana', sans-serif; */
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 100%; 
    box-sizing: border-box;
 margin: 20px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), */
      /* linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%); */
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
}
/* Celulares: */
@media only screen and 
(max-width: 768px) {
  .header{
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    /* height:200px ; */
    height: 350px;
    /* border-radius: 40px; */
    display: grid;
    position: relative;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;
  /* background-size: auto; */
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-image: url(./img/hero-mobile.PNG);
  }
  .Logo img{
    /* display: block; */
     margin-top: 30px; 
    width: 100%;
    /* height: 150%; */
    } 
    .parte1{
      grid-row: 1/2;
        grid-column: 2/3;  
    }
    .parte2{
      grid-row: 2/3;
      grid-column: 2/3;
    }
    .parte3{
      
      grid-row: 3/3;
        grid-column: 2/3;
    }
    .Logo{
      display: flex;
      font-size: 30px;
      color: aliceblue;
      /* font-family:  Roboto; */
      text-align: center;
      align-items: center;
      align-content: center;
    }
    .Titulo{
      display: flex;
      font-size: 30px;
      color: aliceblue;
      /* font-family:  Roboto; */
      text-align: center;
    }
    .buscador{
      font-size: 30px;
      color: aliceblue;
      /* font-family:  Roboto; */
      text-align: center;
      
    }
    .Titulo span{
      display: block;
      margin: auto; 
     }
     .buscador form{
      display: flex;
      margin: auto;
      flex-direction: row;
    }
    .select{
      display: block;
      font-size: 15px;
      /* font-family: 'Verdana', sans-serif; */
      font-weight: 400;
      color: #444;
      line-height: 1.3;
      padding: .4em 1.4em .3em .8em;
      width: 130px;
      max-width: 100%; 
      box-sizing: border-box;
   margin: 20px auto;
      border: 1px solid #aaa;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
      border-radius: .3em;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%); */
      background-repeat: no-repeat, repeat;
      background-position: right .7em top 50%, 0 0;
      background-size: .65em auto, 100%;
    }
    .header button{
      margin: auto;
      height: 40px;
      width: 40px;
      color: #020f13;
      background-color: #c4c2bd;
      /* border-radius: 15px; */
      border: none;
    }

 }