@media only screen
and (min-width : 1224px) {
  .header_Admin button{
    height: 30px;
    margin-left: 5px;
    width: 40px;
    color: #020f13;
    background-color: #c4c2bd;
    
    border: none;
  }
.header_Admin{
  height:200px ;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 35% 35% 30% ;
  background-size: auto;
  background-repeat:round;
  background-image: url(./img/hero.PNG);
}
.parte1s{
  grid-row: 1/1;
    grid-column: 2/3;  
}
.parte2s{
  grid-row: 2/3;
  grid-column: 2/3;
}
.buscador{
  margin: auto;
  grid-row: 3/4;
  grid-column: 2/3;
}
.Titulos{
  display: flex;
  font-size: 30px;
  color: aliceblue;
  /* font-family:  Roboto; */
  text-align: center;
}
.Titulos span{
 display: block;
 margin: auto; 
}

 .Logos img{
width: 100%;
height: 100%;
} 

  
}
/* Tablets (resolución ipad):  */
 @media only screen and 
(min-device-width : 768px) 
and (max-device-width : 1023px)  
  {
     .header_Admin{
      height: 250px;
      border-bottom-left-radius: 120px;
      border-bottom-right-radius: 120px;
      display: grid;
      position: relative;
      grid-template-columns: 25% 50% 25%;
      grid-template-rows: 35% 35% 30% ;
      background-size: 100% 100%;
      background-repeat:no-repeat;
      background-image: url(./img/hero-mobile.PNG);
    }
    .Logos img{
      margin-top: 10px;
      width: 100%;
      height: 100%;
      } 
      .parte1s{
        grid-row: 1/1;
          grid-column: 2/3;  
      }
      .parte2s{
        grid-row: 2/3;
        grid-column: 2/3;
      }
      .buscador{
        margin: auto;
        grid-row: 3/4;
        grid-column: 2/3;
      }
     
      .Logos{
        display: flex;
        color: aliceblue;
        text-align: center;
        align-items: center;
        align-content: center;
      }
      .Titulos{
        display: flex;
        color: aliceblue;
        text-align: center;
      }
      
      .Titulos span{
        font-size: 30px;
        display: block;
        margin: auto; 
       }




 }
/* Tablets (resolución ipad pro) : */
@media only screen and 
(min-width: 1024px) and 
(max-width: 1200px) { 
  .header_Admin{
    height: 250px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    display: grid;
    position: relative;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 35% 35% 30% ;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-image: url(./img/hero-mobile.PNG);
  }
  .Logos img{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    } 
    .parte1s{
      grid-row: 1/1;
        grid-column: 2/3;  
    }
    .parte2s{
      grid-row: 2/3;
      grid-column: 2/3;
    }
    .buscador{
      margin: auto;
      grid-row: 3/4;
      grid-column: 2/3;
    }
   
    .Logos{
      display: flex;
      font-size: 30px;
      color: aliceblue;
      text-align: center;
      align-items: center;
      align-content: center;
    }
    .Titulos{
      display: flex;
      font-size: 30px;
      color: aliceblue;
      text-align: center;
    }
    
    .Titulos span{
      display: block;
      margin: auto; 
     }
  
}
/* Celulares: */
@media only screen and 
(max-width: 767px) {
  .header_Admin{
    height: 255px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    display: grid;
    position: relative;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 35% 35% 30% ;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-image: url(./img/hero-mobile.PNG);
  }
  .Logos img{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    } 
    .parte1s{
      grid-row: 1/2;
        grid-column: 2/3;  
    }
    .parte2s{
      grid-row: 2/3;
      grid-column: 2/3;
    }
    .buscador{
      margin: auto;
      grid-row: 3/4;
      grid-column: 2/3;
    }
   
    .Logos{
      display: flex;
      font-size: 30px;
      color: aliceblue;
      text-align: center;
      align-items: center;
      align-content: center;
    }
    .Titulos{
      margin: auto;
      font-size: 20px;
      color: aliceblue;
      text-align: center;
    }
    .header_Admin button{
      border-radius: 20px;
    }
    .header_Admin TextField{
      border-radius: 20px;
    }
    /* .Titulo span{
      display: block;
      margin: auto; 
     } */

 }