/* -----------------Celular ----------- */
@media only screen and  (max-width: 767px) {
    .Container{
        margin: 0 !important;
    padding: 0;
    height: 812px;
    width: auto;
    background-image: url(./img/hero-tablet.PNG);
    /* background-size: 100% 100%; */
    background-size: cover;
    background-repeat:no-repeat;
    text-align: center;
}
.card_login img{
    height: 120px;
    /* width: 350px; */
}
.titulo {
    padding: 2px;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: black;
    margin: 6px 6px;
    font-size: 26px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Container_login{
    display: flex;
    margin: 0 !important;
    padding: 0;
    height: 812px;
    width: auto;
}
.item_login{
    display: flex;
    margin: 0 !important;
    padding: 0;
    height: 700px;
    width: 100%;
}
.card_login{
    display: block;
    margin: auto;

}
.card-body{
    height: 240px;
}
.form{
    height: 230px;
    margin: 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form .textfield{
    border-radius: 20px;
    margin: 6px 6px;
    border: 5px solid green;
    background-color:white;
    font-size: 16px;
}
.textfield{
    width: 255px;
    /* text-align: center; */
    height: 56px;
}
.submit{
    padding: 0;
    
    width: 35%;
}
}
/*------------ Computadora------------------- */
/* 735 */
/* @media only screen
and (min-width :768px)and (max-width :1024){ */
    @media only screen and (min-width: 992px) {
            .Container{
                margin: 0 !important;
            padding: 0;
            height: 820px;
            width: auto;
            background-image: url(./img/hero-tablet.PNG);
            background-size: 100% 100%;
            background-repeat:no-repeat;

            }
            .Container_login{
                display: flex;
                margin: 0 !important;
                padding: 0;
                height: 700px;
                width: auto;
            }
            .item_login{
                display: flex;
                margin: 0 !important;
                padding: 0;
                height: 700px;
                width: 100%;
            }
            .card_login{
                text-align: center;
                width: 50%;
                display: block;
                margin: auto;

            }
            .form{
                margin: 2px 2px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .form .textfield{
                border-radius: 20px;
                margin: 6px 6px;
                background-color:white;
                font-size: 16px;
            }
            .textfield{
                width: 265px;
                height: 56px;
            }
            .submit{
                padding: 0;
                
                width: 50%;
            }
            .titulo {
                padding: 2px;
                color: whitesmoke;
                font-weight: bold;
                text-shadow: black;
                margin: 6px 6px;
                font-size: 26px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
    }
/*ipad pro */
    @media only screen 
    and (min-width: 1024px) 
    and (max-height: 1366px) 
    and (-webkit-min-device-pixel-ratio: 1.5) {
    .Container{
    margin: 0 !important;
    padding: 0;
    height: 1365px;
    width: auto;
    background-image: url(./img/hero-tablet.PNG);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    
    }
    .Container_login{
        display: flex;
        margin: 0 !important;
        padding: 0;
        height: 1365px;
        width: auto;
    }
    .item_login{
        display: flex;
        margin: 0 !important;
        padding: 0;
        height: 1365px;
        width: 100%;
    }
    .card_login{
        text-align: center;
        display: block;
        margin: auto;
    
    }
    .titulo {
        color: whitesmoke;
        font-weight: bold;
        text-shadow: black;
        margin: 6px 6px;
        font-size: 46px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .card-body{
       width: auto;
       height: 340px;
    }
    .form{
        width: auto;
       height: 330px;
        margin: 6px 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form .textfield{
        border-radius: 20px;
        margin: 10px 10px;
        background-color:white;
        font-size: 26px;
    }
    .textfield{
        border-color: green;
        width: 365px;
        /* height: 86px; */
    }
    .submit{
        padding: 0;
        width: 20%;
    }



}
/* ipad */
@media only screen and (min-device-width : 768px) 
and (max-device-width : 1023px){
    .Container{
        margin: 0 !important;
    padding: 0;
    height: auto;
    width: auto;
    background-image: url(./img/hero-tablet.PNG);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    
    }
    .item_login{
        display: flex;
        height: 1024px;
        /* flex-direction: column;
        align-content: center; */
    }
    .Container_login{
        height:1024px ;
    }
    .form{
        margin: 3px 3px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 350px;
        height: 190px ;   
    }
    .card-body{
        width: 380px;
        height: 190px ; 
    }
    .card_login img{
        width: 380px;
        height: 190px ;   
    }
    .card_login{
        width: 380px;
        height: 380px;
        text-align: center;
        display: block;
        margin: auto;
    }
   .submit{
    padding: 0;
    width: 20%;
}
.form .textfield{
    border-radius: 20px;
    margin: 10px 10px;
    background-color:white;
    font-size: 26px;
}
.textfield{
    border-color: green;
    
    /* height: 86px; */
}
.submit{
    padding: 0;
    width: 20%;
}
.titulo {
    padding: 2px;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: black;
    margin: 6px 6px;
    font-size: 26px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  } 
  