@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
.body{
  font-family: Roboto;
}
/* @media only screen
and (min-width : 1224px) {
.header{ */
  /* height:200px; */
  /* background-size: 100% 100%;
  background-repeat:no-repeat;
  background-image: url(../src//assets//img/hero.PNG);
} */
/* .header p{
  font-size: 30px;
  color: aliceblue;
  font-family:  Roboto;
  text-align: center;
}
.buscador { 
  margin-left: 33rem;
  display:inline-flex;
  text-align: center;
  
}
   .select{
     border-radius: 10px;
    width: 13rem;
   
  } 
  
} */
/* Tablets (resolución ipad):  */
 /* @media only screen and 
 (min-width: 768px) and 
 (max-width: 992px) and 
 (orientation : landscape) {
  .header{ */
    /* height:200px; */
    /* background-size: 100% 100%;
    background-repeat:no-repeat;
    background-image: url(../src//assets//img/hero-tablet.PNG);
  }
 } */
/* Tablets (resolución ipad pro) : */
/* @media only screen and 
(min-width: 768px) and 
(max-width: 1200px) and 
(orientation : landscape){ 
  .header{ */
    /* height:200px; */
    /* background-size: 100% 100%;
    background-repeat:no-repeat;
    background-image: url(../src//assets//img/hero-tablet.PNG);
  }
} */
/* Celulares: */
 /* @media only screen and 
(max-width: 768px) {
 

 }  */