@media only screen and (min-device-width : 280px) and (max-device-width : 480px) {
    .itemsprecio .singmoney {
        width: 10px;
    }
    .itemsTable .itemsprecio {
        color: #086F04;
        
    }
    .Contenedorbtn{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }
    .Añadir{
        color: green;
        font-weight: bold;
        margin: 6px 3px;
        /* font-size: 20px; */
    }
    .CerrarSesion{
        display: flex;
        justify-content: flex-end;
        
        margin: 6px 3px;
       
    }
}
/* surfaceDuo */
@media only screen and (width : 540px){
    .itemsprecio .singmoney {
        width: 10px;
    }
    .itemsTable .itemsprecio {
        color: #086F04;
        
    }
    .Contenedorbtn{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }
    .Añadir{
        color: green;
        font-weight: bold;
        margin: 6px 3px;
        /* font-size: 20px; */
    }
    .CerrarSesion{
        display: flex;
        justify-content: flex-end;
        
        margin: 6px 3px;
       
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
{
    .itemsprecio .singmoney {
        width: 10px;
    }
    .itemsTable .itemsprecio {
        color: #086F04;
        
    }
    .Contenedorbtn{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }
    .Añadir{
        color: green;
        font-weight: bold;
        margin: 6px 3px;
        /* font-size: 20px; */
    }
    .CerrarSesion{
        display: flex;
        justify-content: flex-end;
        
        margin: 6px 3px;
       
    }
}
@media only screen and (min-width : 1224px) {
    .itemsprecio .singmoney {
        width: 10px;
    }
    .itemsTable .itemsprecio {
        color: #086F04;
        
    }
    .Contenedorbtn{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }
    .Añadir{
        color: green;
        font-weight: bold;
        margin: 6px 3px;
        /* font-size: 20px; */
    }
    .CerrarSesion{
        display: flex;
        justify-content: flex-end;
        
        margin: 6px 3px;
       
    }
}