@media only screen and (min-device-width : 280px) and (max-device-width : 480px) {
    .id_Objeto{
        text-align: center;
        color: red;
        font-style: italic;
        font-size: larger;
      }
      .card-img-top{
        width: 100%;
        /* height: 50vw; */
        /* height: 250px; */
        /* object-fit: cover; */
      }
      .card {
        width: 70%;
        margin-top: 40px;
        margin-left: calc(50% - 140px);
      }
      .card-bodys {
        padding: 1px;
        text-align: center;
      }
      .listItems {
        width: 100%;
        margin: auto;
        align-content: center;
        align-items: center;
      }
     
}
@media only screen and (width : 280px){
  .id_Objeto{
      text-align: center;
      color: red;
      font-style: italic;
      font-size: larger;
    }
    .card-img-top{
      width: 100%;
      /* height: 50vw; */
      /* height: 250px; */
      /* object-fit: cover; */
    }
    .card {
      width: 70%;
      margin-top: 40px;
      margin-left: calc(50% - 100px);
    }
    .card-bodys {
      padding: 1px;
      text-align: center;
    }
    .listItems {
      width: 100%;
      margin: auto;
      align-content: center;
      align-items: center;
    }
   
}
@media only screen and (width : 540px){
  .id_Objeto{
      text-align: center;
      color: red;
      font-style: italic;
      font-size: larger;
    }
    .card-img-top{
      width: 100%;
      /* height: 50vw; */
      /* height: 250px; */
      /* object-fit: cover; */
    }
    .card {
      width: 70%;
      margin-top: 40px;
      margin-left: calc(50% - 165px);
    }
    .card-bodys {
      padding: 1px;
      text-align: center;
    }
    .listItems {
      width: 100%;
      margin: auto;
      align-content: center;
      align-items: center;
    }
   
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
{.id_Objeto{
  text-align: center;
  color: red;
  font-style: italic;
  font-size: larger;
}
  .card-img-top{
    width: 100%;
    height: 250px;
  }
  .card {
    width: 70%;
    margin-top: 40px;
    margin-left: calc(50% - 100px);
    
  }
  .card-bodys {
    padding: 1px;
    text-align: center;
  }
  .scroll {
    height: 116px;
    max-height: 116px;
    overflow-y: auto;
  }
  .listItems {
    width: 100%;
    margin: auto;
    align-content: center;
    align-items: center;
    max-width: 800px;
    margin-left: calc(50% - 420px);
  }
  .listItems .item {
    width: 50%;
    margin: 0px;
    position: relative;
    float: left;
  }
}
/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */
@media only screen and (min-width : 1200px) {
  .id_Objeto{
    text-align: center;
    color: red;
    font-style: italic;
    font-size: larger;
  }
  .listItems {
    /* width:50%; */
    width: 100%;
    margin: auto;
    /* max-width: 1100px; */
    margin-left: calc(40% - 600px);
    /* margin-left: auto; */
  }
  .listItems .item {
    width: 25%;
    margin: 0px;
    position: relative;
    float: left;
  }
  .listItems .item .card {
    margin: 8px 0px;
    margin-left: calc(50% - 150px);
  }
  .card {
    /* margin: 1rem; */
    border-radius: 10px;
    -webkit-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
  max-height:760px ;
  }
  .card img {
    border-radius: 10px;
    max-height: 493px;
  }
  .scroll {
    height: 116px;
    max-height: 116px;
    overflow-y: auto;
  }
  .card-footer .action {
    padding: 10px 15px;
    color: #9e8145;
    background-color: #f6bc40;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .card-footer .action:hover {
    background-color: #e8bb5b;
    color: white;
  }

  
 
  
}