/* Celulares: */
@media only screen and (min-device-width : 280px) and (max-device-width : 480px) {
    .logoscontenido {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33.33% 33.33% 33.33%;
        height: 60%;
      }
      .logoscontenido_first {
        background-color: #086f05;
        position: relative;
      }
      .logoscontenido_first {
        width: 100%;
        /* position: relative; */
        /* padding: 15px 0px; */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .logo img {
        width: 70%;
        /* height: auto; */
      }
      .logoscontenido_second {
        background-color: #169112;
        width: 100%;
        /* position: relative; */
        padding: 15px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
      }
      .logoscontenido_third {
        background-color: #086f05;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .logoscontenido_third .network {
        flex: 1;
        text-align: center;
      }
      .footer .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        background-color: #46474a;
        color: white;
      }
      .logoinstagram{
        color:white;
       
      }
      .logofacebook{
        color:white;
        
      }
      .logoscontenido_third .logofacebook{
        /* width: 100px;
        height: 80px; */
        width: 75px;
        height: auto;
      }
      .logoscontenido_third .logoinstagram{
        /* width: 100px;
        height: 80px; */
        width: 75px;
        height: auto;
      }
      .network a :hover {
        background-color: rgb(204, 132, 23);
        border-radius: 10px;
      }
      
      
      
}
/* surfaceDuo */
@media only screen and (width : 540px){
  .logoscontenido {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    height: 60%;
  }
  .logoscontenido_first {
    background-color: #086f05;
    position: relative;
  }
  .logoscontenido_first {
    width: 100%;
    /* position: relative; */
    /* padding: 15px 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    width: 70%;
    /* height: auto; */
  }
  .logoscontenido_second {
    background-color: #169112;
    width: 100%;
    /* position: relative; */
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .logoscontenido_third {
    background-color: #086f05;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .logoscontenido_third .network {
    flex: 1;
    text-align: center;
  }
  .footer .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #46474a;
    color: white;
  }
  .logoinstagram{
    color:white;
   
  }
  .logofacebook{
    color:white;
    
  }
  .logoscontenido_third .logofacebook{
    /* width: 100px;
    height: 80px; */
    width: 75px;
    height: auto;
  }
  .logoscontenido_third .logoinstagram{
    /* width: 100px;
    height: 80px; */
    width: 75px;
    height: auto;
  }
  .network a :hover {
    background-color: rgb(204, 132, 23);
    border-radius: 10px;
  }
}
/* ipad y ipad pro */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
{
 .logoscontenido {
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 50%;
 }
 .logo img {
   width: 60%;
   height: auto;
 }
 .logoscontenido_first {
  grid-row: 1/3;
  grid-column: 1/2;
  background-color:#086f05;
}
 .logoscontenido_second {
   grid-row: 1/2;
   grid-column: 2/3;
   background-color:#169112;
   
 }
 .logoscontenido_second {
  background-color: #169112;
  width: 100%;
  /* position: relative; */
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
 .logoscontenido_third {
   grid-row: 2/3;
   grid-column: 2/3;
   background-color:#169112;
 }
 .logoscontenido_third {
  background-color: #169112;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logoscontenido_third .network {
  flex: 1;
  text-align: center;
}
 .footer .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background-color: #46474a;
  color: white;
}
.logoinstagram{
  color:white;
 
}
.logofacebook{
  color:white;
  
}
.logoscontenido_third .logofacebook{
  /* width: 100px;
  height: 80px; */
  width: 75px;
  height: auto;
}
.logoscontenido_third .logoinstagram{
  /* width: 100px;
  height: 80px; */
  width: 75px;
  height: auto;
}
.network a :hover {
  background-color: rgb(204, 132, 23);
  border-radius: 10px;
}

}
@media only screen and (min-width : 1224px) {
  .logoscontenido {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
  }
  .logo img {
    width: 60%;
    height: auto;
  }
  .logoscontenido_first {
   grid-row: 1/3;
   grid-column: 1/2;
   background-color:#086f05;
 }
  .logoscontenido_second {
    grid-row: 1/2;
    grid-column: 2/3;
    background-color:#169112;
    
  }
  .logoscontenido_second {
   background-color: #169112;
   width: 100%;
   /* position: relative; */
   padding: 15px 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
 }
  .logoscontenido_third {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color:#169112;
  }
  .logoscontenido_third {
   background-color: #169112;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }
 .logoscontenido_third .network {
   flex: 1;
   text-align: center;
 }
  .footer .about {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5px;
   background-color: #46474a;
   color: white;
 }
 .logoinstagram{
   color:white;
  
 }
 .logofacebook{
   color:white;
   
 }
 .logoscontenido_third .logofacebook{
   /* width: 100px;
   height: 80px; */
   width: 85px;
   height: auto;
 }
 .logoscontenido_third .logoinstagram{
   /* width: 100px;
   height: 80px; */
   width: 85px;
   height: auto;
 }
 .network a :hover {
   background-color: rgb(204, 132, 23);
   border-radius: 10px;
 }
 .logoscontenido_second_item .logo_telefono{
  /* height: 40px;
  width: 80px; */
  width: 55px;
  height: auto;
}
.telefono {
  font-size: 35px;
  margin-left: 10px;
}
 }