/* Celulares: */
@media only screen and (min-device-width : 280px) and (max-device-width : 540px) {
    .header_Admin{
        height: 255px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        display: grid;
        position: relative;
      grid-template-columns: 25% 50% 25%;
      grid-template-rows: 35% 35% 30% ;
        background-size: 100% 100%;
        background-repeat:round;
        background-image: url(../img/hero-mobile.PNG);
      }
      .Logos img{
        margin-top: 10px;
        width: 100%;
        height: 100%;
        } 
        .parte1s{
          grid-row: 1/2;
            grid-column: 2/3;
            
            display: flex;
            align-items: center;
            align-content: center;
        }
        .parte2s{
          grid-row: 2/3;
          grid-column: 2/3;

          font-size: 20px;
          color: aliceblue;
          text-align: center;
          margin: auto;
        }
        .buscador{
          margin: auto;
          grid-row: 3/4;
          grid-column: 2/3;
        }
        .header_Admin button{
            border-radius: 10px;
            margin: auto;
            height: 40px;
            width: 40px;
         }
        
       

}
 /* ipad y ipad pro */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
{
 .header_Admin{
   /* height: 250px; */
   border-bottom-left-radius: 120px;
   border-bottom-right-radius: 120px;
   display: grid;
   /* position: relative; */
   grid-template-columns: 25% 50% 25%;
   grid-template-rows: 35% 35% 30% ;
   background-size: 100% 100%;
   background-repeat:round;
   background-image: url(../img/hero-mobile.PNG);
 }
 .Logos img{
   /* margin-top: 10px; */
   width: 100%;
   height: 100%;
   }
 .parte1s{
   grid-row: 1/1;
     grid-column: 2/3;

 }
 .parte2s{
   grid-row: 2/3;
   grid-column: 2/3;

font-size: 30px;
color: aliceblue;
text-align: center;
margin: auto;
 }
 .buscador{
   margin: auto;
   grid-row: 3/4;
   grid-column: 2/3;
 }
}
@media only screen and (min-width : 1224px) {
  .header_Admin{
    height:200px ;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 35% 35% 30% ;
    background-size: auto;
    background-repeat:round;
    background-image: url(../img/hero.PNG);
  }
  .parte1s{
    grid-row: 1/4;
      grid-column: 1/2;  
  }
  .parte2s{
    grid-row: 2/3;
    grid-column: 2/3;

    font-size: 30px;
  color: aliceblue;
  text-align: center;
  }
  .buscador{
    margin: auto;
    grid-row: 3/3;
    grid-column: 2/3;
  }
 
  .Logos img{
    width: 100%;
    height: 100%;
    } 
}