/* Celulares: */
  @media only screen and (min-device-width : 280px) and (max-device-width : 540px) {
    .header{
        border-bottom-left-radius: 120px;
        border-bottom-right-radius: 120px;
        height: 350px;
        display: grid;
        position: relative;
      grid-template-columns: 25% 50% 25%;
      grid-template-rows: 25% 50% 25%;
      /* background-size: auto; */
        background-size: 100% 100%;
        background-repeat:round;
        background-image: url(../img/hero-mobile.PNG);
      }
      .Logo img{
        /* display: block; */
         margin-top: 30px; 
        width: 100%;
        /* height: 150%; */
        } 
        .parte1{
          grid-row: 1/2;
            grid-column: 2/3;  
        }
        .parte2{
          grid-row: 2/3;
          grid-column: 2/3;
        }
        .parte3{
          grid-row: 3/3;
            grid-column: 2/3;
        }
        .Logo{
            display: flex;
            align-items: center;
            
          }
        .Titulo{
            display: flex;
            font-size: 30px;
            color: aliceblue;
            text-align: center;
          }
          .Titulo span{
            display: block;
            margin: auto; 
           }
          .buscador{
            font-size: 30px;
            text-align: center;
          }
          .buscador form{
            display: flex;
            margin: auto;
            flex-direction: row;
          }
          .select{
            max-width: 90%; 
            border-radius: .3em;
            background-color: #fff;
          
          }
          .header button{
            margin: auto;
            height: 40px;
            width: 40px;
          }
          
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
   {
    .header{
        border-bottom-left-radius: 120px;
        border-bottom-right-radius: 120px;
        height: 350px;
        display: grid;
        position: relative;
      grid-template-columns: 30% 40% 30%;
      grid-template-rows: 30% 40% 30%;
      /* background-size: auto; */
        background-size: 100% 100%;
        background-repeat:round;
        background-image: url(../img/hero-mobile.PNG);
      }
      .parte1{
        grid-row: 1/2;
          grid-column: 2/3;
          
          display: flex;
         align-items: center;
        align-content: center  
      }
      .Logo img{
        margin: auto;
        width: 100%;
        height: 100%;
      }
      .parte2{
        grid-row: 2/3;
        grid-column: 2/3;

        display: flex;
        font-size: 30px;
        color: aliceblue;
        text-align: center;
        align-content: center;
        align-items: center;
      }
      .parte3{
        grid-row: 3/3;
        grid-column: 2/3;
        text-align: center;
      }
      .buscador form{
        display: flex;
        flex-direction: row;
        margin: auto;
      }
      .select{
        max-width: 90%; 
        border-radius: .3em;
        background-color: #fff;
      
      }
      
}
@media only screen and (min-width : 1224px) {
  .header{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    background-size: 100% 100%;
    background-repeat:round;
    background-image: url(../img/hero.PNG);
  }
  .parte1{
    grid-row: 1/4;
      grid-column: 1/2;
      
      
  }
  .parte1 img{
    margin: 6px 6px;
 width: 100%;
 height: 70%;
 } 
  .parte2{
    grid-row: 2/3;
    grid-column: 2/3;

    display: flex;
  font-size: 2rem;
  color: aliceblue;
  margin: auto;
  text-align: center;
  }
  .parte3{
    grid-row: 3/3;

    
  }  
  .buscador form{
    margin: auto;
    align-content: center;
    align-items: center;
    display: flex;
   width: 80%;
   height: 80%;
  }
  .select{
    max-width: 90%; 
    border-radius: .3em;
    background-color: #fff;
  
  }
}